body {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

p {
  margin: 0;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

p:nth-child(even) {
  background-color: beige;
}

p:nth-child(odd) {
  background-color: coral;
}